<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596477901843-lk6q5ph2jh4q1tqcbifke45spb81petn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596477901843-lk6q5ph2jh4q1tqcbifke45spb81petn</string>
	<key>API_KEY</key>
	<string>AIzaSyApJr-l_PdAc1mQ705W_FtzLFSmz2a8C_s</string>
	<key>GCM_SENDER_ID</key>
	<string>596477901843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rated</string>
	<key>PROJECT_ID</key>
	<string>rated-001</string>
	<key>STORAGE_BUCKET</key>
	<string>rated-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596477901843:ios:3a4bf351845818daf2d3e6</string>
	<key>DATABASE_URL</key>
	<string>https://rated-001-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>